<a href="https://colab.research.google.com/github/oktaviacitra/classification/blob/main/StrokePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive

origin_path = "/content/drive"
drive.mount(origin_path)

Mounted at /content/drive

In [24]:
import pandas as pd

folder_path = origin_path + "/MyDrive/Learning Journey/Stroke Data"
dataset_path = folder_path + "/full_data.csv"
dataframe = pd.read_csv(dataset_path)
dataframe.head(3)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1

In [25]:
categorical_columns = ['gender', 'ever_married', 'Residence_type',
                       'work_type', 'smoking_status']
for column in categorical_columns:
  dataframe[column] = pd.factorize(dataframe[column])[0]

In [26]:
from sklearn.preprocessing import MinMaxScaler

value_columns = ['age', 'avg_glucose_level', 'bmi']
dataframe[value_columns] = MinMaxScaler().fit_transform(dataframe[value_columns])
dataframe.head(0)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.816895,0,1,0,0,0,0.801265,0.647564,0,1
1,0,0.975586,0,1,0,0,1,0.234512,0.530086,1,1
2,1,0.597168,0,0,0,0,0,0.536008,0.584527,2,1
3,1,0.963379,1,0,0,1,1,0.549349,0.286533,1,1
4,0,0.987793,0,0,0,0,0,0.605161,0.429799,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,0,0.499512,0,0,1,0,1,0.069384,0.452722,0,0
4977,0,0.487305,0,0,0,0,0,0.627966,0.489971,2,0
4978,1,0.548340,1,0,0,2,1,0.184194,0.510029,2,0
4979,0,0.487305,0,0,0,0,1,0.133044,0.458453,2,0
4980,1,0.975586,1,0,0,0,0,0.132167,0.432665,1,0

In [17]:
unknown_smoking_status_dataframe

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,0,0,0,228.69,36.6,0,1
1,0,80.0,0,1,0,0,1,105.92,32.5,1,1
2,1,49.0,0,0,0,0,0,171.23,34.4,2,1
3,1,79.0,1,0,0,1,1,174.12,24.0,1,1
4,0,81.0,0,0,0,0,0,186.21,29.0,0,1
5,0,74.0,1,1,0,0,1,70.09,27.4,1,1
6,1,69.0,0,0,1,0,0,94.39,22.8,1,1
7,1,78.0,0,0,0,0,0,58.57,24.2,3,1
8,1,81.0,1,0,0,0,1,80.43,29.7,1,1
9,1,61.0,0,1,0,2,1,120.46,36.8,2,1

In [8]:
dataframe.loc[dataframe['smoking_status'] == 'Unknown']

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
7,Female,78.00,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
19,Male,82.00,0,1,Yes,Private,Rural,208.30,32.5,Unknown,1
25,Male,42.00,0,0,Yes,Private,Rural,83.41,25.4,Unknown,1
32,Male,58.00,0,0,No,Private,Rural,92.62,32.0,Unknown,1
54,Male,76.00,0,0,Yes,Private,Urban,104.47,20.3,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...
4958,Male,32.00,1,0,No,Private,Rural,74.43,31.5,Unknown,0
4962,Male,3.00,0,0,No,children,Rural,194.75,20.1,Unknown,0
4967,Male,59.00,0,0,Yes,Private,Urban,223.16,33.2,Unknown,0
4969,Female,70.00,0,1,Yes,Self-employed,Rural,65.68,28.6,Unknown,0
4973,Male,1.32,0,0,No,children,Rural,107.02,18.8,Unknown,0