<a href="https://colab.research.google.com/github/oktaviacitra/classification/blob/main/StrokePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read File CSV

In [2]:
from google.colab import drive

origin_path = "/content/drive"
drive.mount(origin_path)

Mounted at /content/drive

In [24]:
import pandas as pd

folder_path = origin_path + "/MyDrive/Learning Journey/Stroke Data"
dataset_path = folder_path + "/full_data.csv"
dataframe = pd.read_csv(dataset_path)
dataframe.head(3)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1

# Preprocessing Data

In [25]:
categorical_columns = ['gender', 'ever_married', 'Residence_type',
                       'work_type', 'smoking_status']
for column in categorical_columns:
  dataframe[column] = pd.factorize(dataframe[column])[0]

In [27]:
from sklearn.preprocessing import MinMaxScaler

value_columns = ['age', 'avg_glucose_level', 'bmi']
dataframe[value_columns] = MinMaxScaler().fit_transform(dataframe[value_columns])
dataframe.head(3)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.816895,0,1,0,0,0,0.801265,0.647564,0,1
1,0,0.975586,0,1,0,0,1,0.234512,0.530086,1,1
2,1,0.597168,0,0,0,0,0,0.536008,0.584527,2,1